//
   Created by trudy on 7/10/2017.
header.page-header
    h1=title
    div.navbar
        if(user && !hideAddNote)
            a.btn.btn-primary(href='/notes/add') Add note
        if(user)
            a.btn.btn-primary(href='/users/logout') Log Out
                span.badge=user.id
        else
            a.btn.btn-primary(href='/users/login') Log in
            a.btn.btn-primary(href='/users/login/twitter')
                img(width='15px' src='/images/Twitter_Logo_Blue.svg')
                span Log in with Twitter

        if(breadcrumbs)
            ol.breadcrumb
                each crumb in breadcrumbs
                    if(crumb.active)
                        li.active=crumb.text
                    else
                        li
                            a(href=crumb.href)=crumb.text
