extends layout

mixin note-mixin(note)
    - var noteRef = '/notes/view?key=' + note.key;
        a.btn.btn-lg.btn-block.btn-default(href=noteRef)
            p=note.title


block content
    block title
        div.row
            div.col-xs-12
                - if(notelist.length > 0)
                    div.btn-group-vertical(role='group' style='width: 100%;')
                        for note in notelist
                            +note-mixin(note)
    include footer.pug