//
   Created by trudy on 7/23/2017.

div.jumbotron
    h1 Not Logged In
    p You are required to be logged in for this action, but you are not. You should not see this message. It's a bug if this message appears.
    p
        a.btn.btn-primary(href='/users/login') Log in